#this is a comment in the gitignore file.
C++/**/*.exe
C++/**/*.gch
Latex/**/*.pdf
*.aux
*.log
*.nav
*.out
*.snm
*.gz
*.toc
*.synctex*
Latex/**/*.docx
R/**/.RData
R/**/.Rhistory
Python/MathuraCorreo/key.bin
Python/**/mycreds.txt
Python/**/client_secrets.json
Python/**/Temps/

